* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
}

.animation {
  padding: 50px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-size: 5rem;
  font-weight: 800;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  letter-spacing: 40px;
}

.animation__letter {
  display: inline-block; /* Use inline-block to center the letter horizontally */
  line-height: 1; /* Set line-height to the same as the container height for vertical centering */
  text-align: center; /* Center the letter horizontally */
  text-align: center;
}
